.restart {
	display: none;
}

body {
	background-color: black;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-content: center;
	gap: 10px;
}

.options {
	display: flex;
	gap: 30px;
	padding-top: 50px;
}

#score {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.scores {
	display: flex;
	gap: 40px;
}
